<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- 将 NuGet 全局包文件夹重定向到 D 盘 -->
    <add key="globalPackagesFolder" value="D:\nuget_packages" />
  </config>
  <packageSources>
    <clear />
    <add key="azurecn" value="https://nuget.azure.cn/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
